body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url("https://wallpaperaccess.com/full/1118512.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  color: #333;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #ff4000;
  border-radius: 30px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: ease .3s all;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 5px 5px 5px grey;
}



ul{
  list-style: none;
}

li{
  display: flex;
  font-size: 14pt;
  background-color: antiquewhite;
  width: 300px;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid rgb(139, 80, 3);
}




